.RegistrationForm {
    position: relative;
    margin-top: 5%;
    margin-left: 15%;
    width: 70%;
}

.RegistrationContentImage {
    position: absolute;
    width: 40%;
    height: 97%;
}

.RegistrationContentText {
    width: 58%;
}

.RegistrationImage {
    width: 100%;
    height: 100%;
}

.ContentImage {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.RegistrationText {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 15%;
    width: 65%;
}

.RegistrationLabel {
    margin-top: 10%;
}

.RegistrationInput {
    margin-bottom: 10%;
    width: 92.9%;
}

.RegistrationButton {
    background-color: rgb(6, 104, 14);
    border: solid rgb(6, 104, 14);
    margin-top: 2%;
    width: 100%;
}

.RegistrationButton:hover {
    background-color: rgb(19, 134, 29);
    border: solid rgb(19, 134, 29);
    margin-top: 2%;
    width: 100%;
}